*
{
    box-sizing:border-box;

}

.about-us
{
    font-size:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid #d6d2d2;
    border-radius:5px;
    margin:23px 95px;
    padding:15px;
    box-sizing:border-box;
}

.contribute
{
    font-size:20px;
     display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid #d6d2d2;
    border-radius:5px;
    margin:23px 95px;
    padding:5px;
    box-sizing:border-box;
}

.contribute a
{
    color:#4caf50;
    text-decoration:none;
}

.contact
{
     display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid #d6d2d2;
    border-radius:5px;
    margin:23px 95px;
    padding:5px;
    box-sizing:border-box;
}

.contact form
{
    width:80%;
     display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.contact form input
{
    width:90%;
    margin-top:5px;

}

.contact form textarea
{
    width:90%;
    margin-top:5px;

}


.email
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid #d6d2d2;
    border-radius:5px;
    margin:23px 55px;
    padding:5px;
    box-sizing:border-box;
}

.email button
{
    width:60%;
    height:40px;
    border:1px solid #eee;
    border-top-left-radius:45px;
    border-bottom-right-radius:45px;
   
}

@media screen and (max-width:782px)
{
    .about-us
    {
        font-size:15px;
         display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        border:1px solid #d6d2d2;
        border-radius:5px;
        margin:15px;
        padding:5px;
        box-sizing:border-box;
    }

    .contribute
    {
        font-size:15px;
         display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        border:1px solid #d6d2d2;
        border-radius:5px;
        margin:15px;
        padding:5px;
        box-sizing:border-box;
    }

    .contribute a
    {
        color:#4caf50;
        text-decoration:none;
    }

    .contact
    {
         display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        border:1px solid #d6d2d2;
        border-radius:5px;
        margin:15px;
        padding:5px;
        box-sizing:border-box;
    }

    .contact form
    {
        width:100%;
         display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .contact form input
    {
        width:90%;
        margin-top:5px;

    }

    .contact form textarea
    {
        width:90%;
        margin-top:5px;

    }


    .email
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        border:1px solid #d6d2d2;
        border-radius:5px;
        margin:15px;
        padding:5px;
        box-sizing:border-box;
    }

    .email button
    {
        width:60%;
        height:40px;
        border:1px solid #eee;
        border-top-left-radius:45px;
        border-bottom-right-radius:45px;

    }
}