*
{
    font-family: Poppins;
}

.classic-tasbeeh-container
{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}

.classic-tasbeeh-view
{
    border:1px solid #bfb1b1;
    height:auto;
    border-radius:5px;
    width:260px;
}

.classic-tasbeeh-view input
{
    line-height:50px;
    padding-right:2px;
    font-size:20px;
    text-align:end;
    outline:none;
    font-family: digital;
    font-weight: bold;
    font-size: 25px;
    width:90%;
    display:flex;
    flex-direction:column-reverse;
    margin:0 auto;
    border:1px solid #bfb0b0;
    border-radius:2px;
}
.classic-tasbeeh
{
    margin:0 auto;
    display:flex;
    flex-direction:column;
   justify-content:center;
   align-items:center;
    overflow:hidden;
    width:250px;
    height:308px;

}

.circle-holder
{

    width:120px;
    height:10000px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.circle
{
    margin:0 auto;
    background: black;
    width:100px;
    height:100px;
    border-radius:50%;
    
}

 .color-1
{
    background: radial-gradient(circle at 100px 100px, #858c4b, #ffffff);
}

.color-2
{
    background: radial-gradient(circle at 10px 100px, #858c4b, #ffffff);
}

.thread
{
    height:16px;
    width:04px;
    background-color:#dcd690;
}

.function
{
    border-top:1px solid #bfb1b1;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:5px;
}
 