.footer-content
{
    background:#93a29d;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:94%;
    margin:0 auto;
    padding:5px 0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.footer-content h2
{
    font-size:18px;
    margin-top:5px;
    border-bottom:1px solid;
    text-align:center;
    margin-bottom:5px;
}

.footer-content .mode
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.footer-content .more
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

footer a
{
    text-align:start;
    color:#fff;
    font-size:14px;
    margin-left:8px;
}

footer a:hover
{
    color:#6dcad6;
}

footer h2
{
    font-size:15px;
}