button#options.dark-mode
{
    margin-top:15px;
    background-color:white; 
    color:#000000;
    border:none;  
}

button#options
{
    display:flex;
     margin-top:15px;
    background-color:#484343; 
    color:#ffffff;
    border:none; 
    justify-content:center;
    align-items:center;
}

.arrow
{
    margin-left:5px;
}

.arrow-up
{
     display:block;
    -webkit-transform: rotate(180deg); 
    -moz-transform: rotate(-180deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}


.useful-options
{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:5px;
}

#options
{
    width:40%;
    height:40px;
    background-color:#eee;
}
input
{
    width: 100%;
}

input[type="checkbox"]
{
    position:relative;
    height:20px;
    width:40px;
    -webkit-appearance:none;
    background-color:#fbf9f5;
    border-radius:20px;
    box-shadow:inset 0 0 5px #bbb8b8;
    outline:none;
}

input:checked[type="checkbox"]
{
    background-color:#60d065;
}



input[type="checkbox"]::before
{
   content:"";
   position:absolute;
   width:20px;
   height:20px;
   background-color:#dadada;
   border-radius:50%;
   top:0;
   left:0; 
   box-shadow:0 2px 5px #8a8a8a;
   transition:0.5s;
}

input:checked[type="checkbox"]::before
{
    left:20px;
    background-color:#fdfdfd;
}

.inline 
{
    display:flex;
    align-items:center;
    width:100%;
    justify-content:space-between;
    margin-bottom:5px;
    border:1px solid;
    padding:5px;
}

.inline span
{
    font-size:12px;
    margin-right:20px;
}

.useful-options.display
{
    display:none;
}

body.dark-mode
{
    background-color:#1b1919;
   color:#fff;
}

.target.dark-mode input
{
    background-color:#000;
    color:#fff;
}

.tasbeeh.dark-mode
{
    background-color:black;
}

textarea.dark-mode
{
    background-color:#000;
    color:#fff;
}

nav.dark-mode.nav
{
    background-color:black;
    
}

nav.dark-mode.nav a
{
    color:#fff;
}
footer.dark-mode .footer-content
{
    background-color:#000;
}

.target-msg.dark-mode
{
    color:#fff;
}

.contact.dark-mode form input
{
    background-color:black;
    color:#fff;
}
.menu.dark-mode.display ul
{
    background-color:#000;
}

.menu.dark-mode.display ul li
{
    background-color:#fff;
}

.menu.dark-mode.display ul li a
{
    color:#000;
}

.classic-tasbeeh-view.dark-mode
{
    background-color:black;
}

input.dark-mode
{
    background-color: #fff;
    color:#000;
}

.option-title
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    background-color:#000;
    color:#fff;
    font-weight:bold;
}

.option-title.dark-mode
{
    background-color:#fff;
    color:#000;
    font-weight:bold;
}

button.option-green
{
    margin:0 auto;
    width:100%;
    border:1px solid #fff;
    color:#ffffff;
    background-color:#02b502;
}

button.option-red
{
    margin:0 auto;
    width:100%;
    border:1px solid #fff;
    margin-top:5px;
    background-color:#9e0707;
    color:#ffffff;
}

.last-day-message
{
    margin-top:14px;
    
}
.center
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.brand-name
{
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
}

.custom-brand-font
{
    font-family:'Varela Round', sans-serif;
    font-weight: bold;
}

/*Blue Theme*/
button#options.blue-mode
{
    margin-top:15px;
    background-color:white; 
    color:#5aa5af;
    border:none;  
}


body.blue-mode
{
    background-color:#6dcad6;
   color:#000;
   font-weight:bold;
}

.target.blue-mode input
{
    background-color:#ffffff;
    color:#5aa5af;
}

.tasbeeh.blue-mode
{
    background-color:#ffffff;
    color:#000;
}

.tasbeeh.blue-mode input
{
    color:#fff;
    background-color:#000;
}

textarea.blue-mode
{
    background-color:#ffffff;
    color:#000;
    font-weight:bold;
}

nav.blue-mode.nav
{
    background-color:#ffffff;
    color:#5aa5af;

    
}

nav.blue-mode.nav a
{
    color:#5aa5af;
}

footer.blue-mode .footer-content
{
    background-color:#5aa5af;
    color:#fff;
}

footer.blue-mode .footer-content a
{
    color:#fff;
}

.target-msg.blue-mode
{
    color:#000;
}

.contact.blue-mode form input
{
    background-color:#ffffff;
    color:#000000;
}
.menu.blue-mode.display ul
{
    background-color:#6dcad6;
}

.menu.blue-mode.display ul li
{
    background-color:#fff;
}

.menu.blue-mode.display ul li a
{
    color:#4477c3;
}

.classic-tasbeeh-view.blue-mode
{
    color:#000;
    background-color:#fff;
}

.classic-tasbeeh-view.blue-mode input
{
    color:#fff;
    background-color:#000;
}

input.blue-mode
{
    background-color: #fff;
    color:#000;
}

.inline.options-container.blue-mode
{
    background-color:#fff;
}

.inline.options-container.blue-mode input
{
    border:1px solid #000;
}


