*
{
	margin: 0px;
	padding: 0px;
}

.main
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

}

header
{
	width:100%;
	height:40px;
	background-color:#eee;
	display:flex;
	align-items:center;
}

.img_read
{

}

.main
{
	margin-bottom:100px;
}

.tasbeeh
{
	display:flex;
	flex-direction:column;
	width:180px;
	height:250px;
	background-color:#fbf9f5;
	border-radius:20px;
	border:1px solid #eee;
}

.brand
	{
		display:flex;
		align-items:center;
		justify-content:center;
		align-items:center;
		height:40px;
	}

.total_number
{
	background-color:#fff;
	width:80%;
	height:50px;
	margin:0px 20px 20px 20px;

	border-radius:2px;
	border:1px solid #adabab;
	box-sizing:border-box;
	overflow:hidden;
	padding:2px;
}

.total_number input
{
	line-height:50px;
	width:100%;
	border:none;
	padding-right:2px;
	font-size:20px;
	text-align:end;
	outline:none;

}

.reset
{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	width:80%;
	margin:0 auto;
}

.reset_button
{
	width:25px;
	height:25px;
	border-radius:50%;
	border:none;
	border:1px solid #adabab;
	outline: none;
}

.add
{
	width:80%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	height:70px;

}

.add_button
{
	height:60px;
	width:60px;
	border:none;
	border-radius:50%;
	border:1px solid #adabab;
	outline: none;
}

.deduct
{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	width:80%;
	margin:0 auto;
}

.deduct_button
{
	width:20px;
	height:20px;
	border-radius:50%;
	border:none;
	border:1px solid #adabab;
	outline: none;
}

footer
{
	width:100%;
	background-color:aquamarine;
	height:212px;
	display:flex;
	margin-top:10px;
}

#image
{
	display: none;
}

@media screen and (max-width:700px)
{
	.tasbeeh
	{
		width:240px;
		height:350px;
	}
	.add
	{
		margin-top:25px;
	}

	.add_button
	{
		width:140px;
		height:140px;

	}

	.total_number
	{
		margin-top:10px;
	}

	
	.deduct
	{
		margin-top:30px;
	}

	.deduct_button
	{
		width:30px;
		height:30px;
	}
	
	.reset_button
	{
		width:30px;
		height:30px;
	}

	.brand
	{
		display:flex;
		align-items:center;
		justify-content:center;
		align-items:center;
		margin-top:15px;
		height:40px;
	}
}