*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Varela Round', sans-serif;
}


@font-face {
  font-family: digital;
  src: url(../../fonts/digital-7.ttf);
   
}

@font-face
{
	font-family: Poppins;
	src:url(../../fonts/Poppins/Poppins-Regular.ttf);
}


.main
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

}

.img_read
{
	display:flex;
	justify-content:center;
	align-items:center;
}

.image_view
{
	 resize: both;
  	overflow: auto;
	padding:5px;
	border:1px solid black;
}

.img_selector
{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;

	margin: 0 auto;
}

.image_view img
{
	height:100%;
	width:100%;
}

.brand_name
{
	font-family: 'Pacifico', cursive;
}

header
{
	width:100%;
	height:40px;
	background-color:#eee;
	display:flex;
	align-items:center;
	justify-content:center;
}

header a 
{
	text-decoration:none;
	color:#6969bb;
}

header a:hover
{
	color:black;
}


header h1
{
	font-family:Poppins;
	font-weight:600;
	color:#6969bb;
}


.main
{
	margin-bottom:100px;
}

.tasbeeh
{
	display:flex;
	flex-direction:column;
	width:180px;
	height:250px;
	background-color:#fbf9f5;
	border-radius:20px;
	border:1px solid #bfb1b1;
}

.brand
	{
		display:flex;
		align-items:center;
		justify-content:center;
		align-items:center;
		height:40px;
	}

.total_number
{
	background-color:#fff;
	width:80%;
	height:50px;
	margin:0px 20px 20px 20px;
	display:flex;
	flex-direction:column;
	border-radius:2px;
	border:1px solid #909090;
	box-sizing:border-box;
	overflow:hidden;
	padding:0px;
}

.total_number input
{
	line-height:50px;
	width:100%;
	border:none;
	padding-right:2px;
	font-size:20px;
	text-align:end;
	outline:none;
	font-family: digital;
	font-weight: bold;
	font-size: 25px;

}

.reset
{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	width:80%;
	margin:0 auto;
}

.reset_button
{
	width:25px;
	height:25px;
	border-radius:50%;
	border:none;
	border:1px solid #5a5858;
	outline: none;
}

.add
{
	width:80%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	height:70px;

}

.add_button
{
	height:60px;
	width:60px;
	border:none;
	border-radius:50%;
	border:1px solid #6b6666;
	outline: none;
}

.deduct
{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	width:80%;
	margin:0 auto;
}

.deduct_button
{
	width:20px;
	height:20px;
	border-radius:50%;
	border:none;
	border:1px solid #585252;
	outline: none;
}

footer
{
	width:100%;
	background-color:#a09681;
	height:auto;
	display: -webkit-flex; /* Safari */
  	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display:flex;
	margin-top:10px;
	flex-direction:row;
	justify-content:space-evenly;
  	flex-wrap: wrap;
	align-items:center;
	padding-bottom:13px;
}

footer h1	a
{
	color:cornsilk;
	text-decoration:none;
}

footer h1
{
	font-family:Poppins;
	font-weight:600;
	color:cornsilk;
}

footer h2 a
{
	color:#201d25;
}

footer h2
{
	font-size:19px;
}

footer a
{
	text-decoration:none;
	color:#7f43e2;
	font-family:Poppins;
	font-weight:bold;
}

footer a:hover
{
	color:#8ed43d;
}

#image
{
	display: none;
}

@media screen and (max-width:700px)
{
	.tasbeeh
	{
		width:240px;
		height:350px;
	}
	.add
	{
		margin-top:25px;
	}

	.add_button
	{
		width:140px;
		height:140px;

	}

	.total_number
	{
		margin-top:10px;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.total_number input
	{
		padding-right:15px;
	}


	
	.deduct
	{
		margin-top:30px;
	}

	.deduct_button
	{
		width:30px;
		height:30px;
	}
	
	.reset_button
	{
		width:30px;
		height:30px;
	}

	.brand
	{
		display:flex;
		align-items:center;
		justify-content:center;
		align-items:center;
		margin-top:15px;
		height:40px;
	}

	.textarea
	{
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
	}

	textarea
	{
		
	}
}

@media screen and ( min-width:768px)
{
	.tasbeeh
	{
		width:340px;
		height:450px;
	}
	.add
	{
		margin-top:75px;
	}

	.add_button
	{
		width:240px;
		height:240px;

	}

	.total_number
	{
		margin-top:10px;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.total_number input
	{
		padding-right:15px;
	}


	
	.deduct
	{
		margin-top:80px;
	}

	.deduct_button
	{
		width:30px;
		height:30px;
	}
	
	.reset_button
	{
		width:30px;
		height:30px;
	}

	.brand
	{
		display:flex;
		align-items:center;
		justify-content:center;
		align-items:center;
		margin-top:15px;
		height:40px;
	}

	.textarea
	{
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
	}

	textarea
	{
		width:68%;
	}
}

textarea
{
	resize: none;
	box-sizing:border-box;
	padding-left:5px;
	padding-top:2px;
	margin-top:12px;
	border:1px solid #eee;
	border-radius5px;


}

.textarea
	{
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		height:100%;
		margin:5px;

	}

.img_read
{
	text-align:center;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	
}

.image_view
{
	border:1px solid #b7a6a6;
	width:245px;
	height:140px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:15px;
	border-radius:5px;
	overflow:scroll;
	
}
#input
{
	margin-top:10px;
	width:200px;
	
}